.loginFormWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #00000066;
}
.loginForm {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px 50px;
    width: 500px;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.loginCloseBtnContainer {
    display: flex;
    justify-content: end;
}
.loginCloseBtn {
    background-color: transparent;
    border: none;
    width: fit-content;
    justify-content: end;
    font-weight: bold;
    font-size: 35px;
    display: inline;
    cursor: pointer;
}
.loginForm input {
    /* width: 70%; */
    height: 35px;
    margin-top: 8px;
    padding-left: 8px;
}
.signUpBtnContainer {
    display: flex;
    height: 100px;
    justify-content: center;
}
.signUpBtn {
    cursor: pointer;

    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-top: 20px;
}
